.banner {
    display: flex;
    flex-direction: column;
    background: var(--blue-gradient);
    color: var(--white-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: .5em;
}

.banner__title {
    font-weight: 700;
    font-size: 1.125rem;
    margin: .5em;
}


.banner__text {
    font-weight: 500;
    width: 19.75rem;
    margin: .5em;
}

.banner__search {
    margin: 1.5em 2em;
    padding: .8em 1.5em;
    width: 100%;
    background: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 1.5rem;
}

.banner__search::placeholder {
    color: var(--white-color);
    font-family: var(--text-font);
    font-size: 0.875rem;
    font-weight: 400;
    background: url("../img/pesquisa.svg");
    background-repeat: no-repeat;
    background-position: .875em;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .banner__title {
        font-size: 2.25rem;
    }

    .banner__search {
        width: 40%;
        padding: 1em 1.5em;
    }

    .banner__search::placeholder {
        background-position: 2em;
    }
}

@media screen and (min-width: 1728px) {
    .banner {
        padding: 4em 0;
    }
    
    .banner__text {
        width: 100%;
    }

    .banner__search {
        width: 30%;
        padding: 1.75em 1.5em;
    }

    .banner__title {
        font-size: 2.25em;
    }
}