@import url("./header.css");
@import url("./banner.css");
@import url("./merry-go-round.css");
@import url("./topics.css");
@import url("./contact.css");
@import url("./footer.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --background-color: #EBECEE;
    --white-color: #FFFFFF;
    --text-yelow-color: #EB9B00;
    --blue-gradient: linear-gradient(160deg, #002F52 0%, #326589 100%);
    --blue-text-color: #002F52;
    --black-text-color: rgba(0, 0, 0, 0.85);
    --grey-color: #474646;
    --light-grey-color: #858585;

    --text-font: "Poppins", sans-serif;
    --logo-font: "Josefin Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    user-select: none;
}

body {
    background-color: var(--background-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 1rem;
}

