.topics {
    background: var(--blue-gradient);
    padding: 1em 0;
}

.topics__title, .topics__link{
    color: var(--white-color);
}

.topics__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    padding: 1em;
}

.topics__item {
    margin: 2em .5em;
}

.topics__link {
    font-size: .875rem;
    font-weight: 700;
    background: var(--text-yelow-color);
    padding: 1.5em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .topics__title {
        font-size: 1.5rem;
    }
    
    .topics__item {
        margin: 3em 1.5em;
    }

    .topics__link {
        font-size: 1.5rem;
        padding: 1.5em 2em;
    }

    .topics__item:hover {
        transform: scale(1.02);
    }
}

@media screen and (min-width: 1728px) {
    .topics__title {
        font-size: 2rem;
    }

    .topics {
        padding: 4em 24vw;
    }
}